/* IA Santiago - Personalización */
:root {
  --primary: #2d7ac8 !important;
  --secondary: #c41e3a !important;
}

button[type="submit"],
.bg-black {
  background-color: #ff7a38 !important;
}

button[type="submit"]:hover {
  background-color: #eda33b !important;
}

a {
  color: #0355a6 !important;
}

::-webkit-scrollbar-thumb {
  background: #2d7ac8;
}
